body {
    background-color: #f1f3f6
}

.theme-color {
    background-color: #2874f0
}

.mx-10 {
    margin-right: 4rem;
    margin-left: 4rem
}

.ms-10 {
    margin-left: 4rem
}

.me-10 {
    margin-right: 4rem
}

.logo_img {
    width: 80px
}

.brand-text {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    margin-top: -6px !important;
    margin-left: 10px !important;
    
}

.btn-login {
    border-radius: 0;
    background-color: #fff;
    font-weight: 500;
    color: #2874f0;
    padding: 3px 35px;
    margin-top: 4px;
}

.search-form {
    width: 576px;
    background-color: #fff
}
@media (min-width:1400px){
    .search-form{
        width: 576px !important;
    }
}
@media (min-width:1200px) and (max-width:1399px){
    .search-form{
        width: 500px !important;
    }
}
@media (min-width:992px) and (max-width:1199px) {
    .search-form{
        margin-right: 33px !important;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .search-form{
        width: 456px !important;
    }
    .ms-10{
        margin-left: 0 !important;
    }
    .me-4{
        margin-right: 0 !important;
    }
}

@media (min-width:440px) and (max-width:767px) {
    .search-form{
        width: 255px !important;
    }
    .ms-10{
        margin-left: 0 !important;
    }
    .me-4{
        margin-right: 0 !important;
    }
}
@media (max-width: 439px){
    .search-form{
        order: 1;
    }
    .ms-10{
        margin-left: 0 !important;
    }
    .me-4{
        margin-right: 0 !important;
    }
}

.search-input {
    padding: 5px 16px;
    border-radius: 0;
    border: 0
}

.search-btn {
    border-radius: 0;
    background-color: #fff;
    color: #2874f0;
    padding: 5px 10px;
    border: 0
}

.category {
    background-color: #fff;
    overflow-x: auto
}

.sub-category {
    padding: 10px 0
}

.sub-category a {
    text-decoration: none;
    color: #000
}

.sub-category i {
    font-size: 12px
}

.sub-category img {
    height: 70px
}