@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f3f6;
}

/* we can create css variable and use it with name */
:root {
    --navcolor: #2874f0;
}

.container {
    padding: 0 8px;
}

/* Header css */
header {
    background-color: var(--navcolor);
    height: 56px;
    width: 100%;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100vmax;
}

/* logo css */
.logo {
    display: flex;
    min-width: 137px;
    justify-content: flex-end;
    flex-direction: column;

}

.sub-text {
    font-size: 15px;
    font-family: italic;
    color: #f1f3f6;
}

#plus-text {
    font-size: 15px;
    font-family: italic;
    color: #ffe500;
}



/* search box css */
.search {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 90px;
}

.search-container {
    width: 540px;
    height: 36px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 23%);
    display: flex;
}

.search-container input {
    width: calc(100% - 32px);
    padding: 16px;
    outline: none;
    border: none;
}

.search-container button {
    width: 36px;
    height: 100%;
    padding: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: white;
    border-radius: 0 2px 2px 0;
    cursor: pointer;
}

/* login css */
.login {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px 0 130px;
}

.login button {
    width: 122px;
    padding: 5px 40px;
    font-size: 16px;
    font-weight: 600;
    color: var(--navcolor);
}

/*more btn css */
.more {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.more svg {
    margin-left: 8px;
    rotate: -90deg;
}

/* cart btn css */
.cart {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0 20px;
    color: white;
}

.cart svg {
    margin-right: 8px;
}